@use "../../variables" as v;

.generated-password-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: v.$darkGrey;
  width: 100%;
  padding: 16px;

  .generated-password-input {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 24px;
    line-height: 31px;
    font-weight: 700;
    flex-grow: 1;
    min-width: 75px;
    color: v.$almostWhite;
    ::placeholder {
      color: v.$darkGrey;
    }
  }

  .copied-text {
    color: v.$green;
    font-size: 16px;
    margin: 0 16px;
    min-width: 57px;
    opacity: 1;
    animation: fadeIn 0.2s ease;
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }

  .copy-password-btn {
    background-color: transparent;
    border: none;

    &:hover {
      cursor: pointer;

      svg path {
        fill: white;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .generated-password-container {
    max-width: 560px;
  }
}
